.CharacterList {
  background-color: lightcyan;
}

.CharacterList {
  background-color: lightcyan;
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: .2vw solid rgb(133, 220, 226);
}

section {
  border: .2vw solid rgb(133, 220, 226);
  margin: .5vw;
}

h4 {
  font-family: monospace;
}

h3 {
  font-family: monospace;
}